<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SDB.Properties.Settings.DBSightsConnectionString"
            connectionString="Data Source=DESKTOP-JKSE6RF\SQLEXPRESS;Initial Catalog=DBSights;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SDB.Properties.Settings.SightsDBConnectionString"
            connectionString="Data Source=DESKTOP-JKSE6RF\SQLEXPRESS;Initial Catalog=SightsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SDB.Properties.Settings.SightsConnectionString" connectionString="Data Source=DESKTOP-JKSE6RF\SQLEXPRESS;Initial Catalog=Sights;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>